body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #1597ee;
}

h2 {
    color: #e74c3c;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: #0000f0;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
